<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    
    <link href="../styles.css" rel="stylesheet">
    <script src="../script.js"></script>

    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/matcha-green-tea-1/91/Matcha_Green_Tea_12-256.png">
    <title>Diandra</title>

  </head>

  <body>

    <div class="col-lg-8 mx-auto p-4 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
          <ul class="nav nav-underline">
            <li class="nav-item">
              <a href="../index.html" id="homelink" class="nav-link cursor-color fw-medium">Home</a>
            </li>
            <li class="nav-item">
              <a href="about.html" id="aboutlink" class="nav-link cursor-color fw-medium">About</a>
            </li>
            <li class="nav-item">
              <a href="port.html" id="portfoliolink" class="nav-link active"aria-current="page">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="blog.html" id="bloglink" class="nav-link cursor-color fw-medium">Blog</a>
            </li>
          </ul>
        </div>
      </header>

      <main>
          <div id="port-view">
            <h1 class="text-body-secondary">my <span class="highlighted">portfolio</span></h1>
            <div class="row row-cols-1 mt-3 row-cols-md-3 g-4 ms-3 me-4">
              <div class="col">
                <div class="card h-100">
                  <img src="https://i.ytimg.com/vi/5oMvd2DKT-A/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDspxAy-9sMvmzAwONbnIMtA91V8A" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Social Network</h5>
                    <p class="card-text">A Single-Page JavaScript social network website project that allows users to make posts, follow other users, and "like" posts.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://youtu.be/5oMvd2DKT-A" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-youtube bi" aria-hidden="true"></i></a>
                    <a href="https://github.com/diandrarad/network-cs50w" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-github bi" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://raw.githubusercontent.com/diandrarad/cs50w-finalproject/main/screenshot.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Job Search</h5>
                    <p class="card-text">A job search website built using Django, Adzuna API, Bootstrap, JavaScript, Python, HTML, and CSS.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://youtu.be/kMQkVKU6f-M" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-youtube bi" aria-hidden="true"></i></a>
                    <a href="https://github.com/diandrarad/cs50w-finalproject" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-github bi" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://raw.githubusercontent.com/diandrarad/mail-cs50w/main/screenshot.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">A single-page-app email client project built with JavaScript, HTML, CSS, and Django.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://youtu.be/9vE_xOXLLrk" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-youtube bi" aria-hidden="true"></i></a>
                    <a href="https://github.com/diandrarad/mail-cs50w" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-github bi" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://raw.githubusercontent.com/diandrarad/commerce-cs50w/main/screenshot.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">E-commerce Auction Site</h5>
                    <p class="card-text">An eBay-like e-commerce auction site built using Django.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://youtu.be/uY8-5s_B4qo" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-youtube bi" aria-hidden="true"></i></a>
                    <a href="https://github.com/diandrarad/commerce-cs50w" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-github bi" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://raw.githubusercontent.com/diandrarad/NeuroFriends/main/screenshot.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">NeuroFriends</h5>
                    <p class="card-text">A social networking site for neurodiverse individuals to connect and communicate with each other.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://youtu.be/5Mp0ZaFU1gs" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-youtube bi" aria-hidden="true"></i></a>
                    <a href="https://github.com/diandrarad/NeuroFriends" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"><i class="fab fa-github bi" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://media.licdn.com/dms/image/D5622AQFLKpimzPNd2w/feedshare-shrink_800/0/1697438079091?e=1703721600&v=beta&t=lwE3CYgWkPydUle1O-x0qTd_uMmDk0TOE22xx-S0OvE" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Air Quality Data Analysis</h5>
                    <p class="card-text">A data analysis and visualization project focused on air quality data.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://github.com/diandrarad/air-quality-data-analysis-dicoding" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                      <i class="fab fa-github bi" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://raw.githubusercontent.com/diandrarad/finance-cs50x/main/static/screenshot.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Stock Trader</h5>
                    <p class="card-text">Allows users to "buy" and "sell" stocks, look up stock prices, view transaction history, and manage their portfolio.</p>
                  </div>
                  <div class="text-center footer">
                    <a href="https://github.com/diandrarad/finance-cs50x" class="card-link icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                      <i class="fab fa-github bi" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <hr class="col-3 col-md-2 mb-5">

        <nav class="navbar navbar-expand-lg fixed-bottom">
          <div class="container-fluid">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="mailto:diandraregita14@gmail.com">
                  <i class="fas fa-envelope bi" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="https://github.com/diandrarad">
                  <i class="fab fa-github bi" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="https://linkedin.com/in/diandra-damanik-2b3a03236/">
                  <i class="fab fa-linkedin bi" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        </div>
      </main>
      <!--<footer class="pt-5 my-5 text-body-secondary border-top">
        Created by the Bootstrap team &middot; &copy; 2023
      </footer>-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      
  </body>
</html>
